Source: ecru
Section: devel
Priority: extra
Maintainer: Allen Short <washort@divmod.com>
Build-Depends: cdbs, debhelper (>= 7), autotools-dev, libgc-dev, libglib2.0-dev, libgmp3-dev, check, python2.5-dev
Standards-Version: 3.7.3
Homepage: <http://launchpad.net/ecru>

Package: ecru
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ecru, a C runtime for E
  A C runtime for the E language (http://erights.org).
